body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-block-size: 100dvh;
  background-color: var(--bg-color);
  color: var(--fg-color);
  margin: 0;
  transition: background-color 0.5s ease-in-out;

  &.is-active {
    background-color: var(--blue-500);
  }
}

.clickable {
  user-select: none;
  cursor: pointer;
  border: 0;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: var(--blue-500);
  color: var(--blue-100);
  transition: all 0.3s ease-in;
  &.is-active {
    background-color: var(--blue-100);
    color: var(--blue-800);
  }
}

h1 {
  --font-size: 48px;

  font-weight: 900;
  font-size: var(--font-size);

  &::before {
    content: "🌈";
  }
}
#app {
  text-align: center;
}
#exorcist-characters {
  list-style: none;
  padding-inline-start: 0;
  text-align: center;

  li {
    padding: 4px;

    &.active {
      font-weight: 90;
      color: var(--blue-100);
    }
  }
}

.box {
  inline-size: 60%;
  border: 4px solid var(--black);
  padding: 20px;

  &.box1 {
    background-color: #8b83e4;
  }
  &.box2 {
    background-color: #a3d1be;
  }
  &.box3 {
    background-color: #e3abc2;
  }
}

.link-list {
  margin-block: 0;
  border: 6px solid;
  padding: 15px;
  list-style-type: "";
  display: flex;
  flex-flow: column;
  gap: 15px;

  li {
    border: 4px solid;
    padding: 20px;

    a {
      display: flex;
      align-items: center;
      gap: 12px;
      border: 2px solid;
      padding: 10px;
      text-decoration: none;

      svg,
      span {
        /* pointer-events: none; */
        border: 2px dashed;
        padding: 10px;
      }
    }
  }
}

.ball {
  --size: 40px;
  --fill: #4873d7;
  --fill-hover: #43dad5;
  --fill-active: #ffb62d;
  --radius: 100%;

  inline-size: var(--size);
  block-size: var(--size);
  background-color: var(--fill);
  border-radius: var(--radius);
  /* transition: all 0.6s linear; */
  /* 
  transition: background-color 0.6s linear, 
            scale 0.4s ease-out; 
  */
  transition-property: background-color, scale;
  transition-duration: 0.6s, 0.4s;
  transition-timing-function: linear, ease-out;
  transition-delay: 0s; /* 0s, 0s */

  /* JavaScript 트랜지션 트리거 - 이벤트 핸들링 + 클래스 이름 추가/제거 */
  &.is-transition {
    background-color: var(--fill-active);
    scale: 2;
  }

  /* 속성 값 상태 변경 */
  /* &:hover {
    background-color: var(--fill-hover);
  }
  &:active {
    scale: 2;
  } */
}
